table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

table{
    width: 80%; /* weboldal szélessége */
    background-color: rgb(10, 47, 116); /* háttérszín */
    color: white; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
}
th {
    background-color: rgb(30, 63, 133);
}
#keses{
    background-color: red;
}

.erkezesindulas{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
tbody tr:nth-child(odd){
    background-color: rgb(110, 139, 192);
}
tbody tr:nth-child(even){
    background-color: rgb(30, 63, 133);
}
#ido{
    background-color: white;
    color: rgb(30, 63, 133);
    border: 0px;
}
img{
    width: 60px;
}
