table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

table{
    width: 80%; /* weboldal szélessége */
    background-color: rgb(10, 116, 10); /* háttérszín */
    color: white; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
}
th {
    background-color: rgb(74, 238, 74);
}
#keses{
    background-color: red;
}
.paratlan_sor{
    background-color: rgb(100, 196, 100);
}