table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

table{
    width: 80%; /* weboldal szélessége */
    background-color: rgb(52, 121, 52); /* háttérszín */
    color: white; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
}
th {
    background-color: rgb(30, 104, 30);
}
#keses{
    background-color: red;
}
.paratlan_sor{
    background-color: rgb(96, 184, 96);
}
.erkezesindulas{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}